:root {
    --blue: #205072;
    --blue-010: #002c53;
    --blue-020: #205072;
    --green: #32909C;
    --green-010: #56C595;
    --green-020: #7BE495;
    --green-030: #CFF3D2;

    --grey: #b1b1b1;

    --black: rgb(55 65 81);
    --white: #fff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

main {
    padding-top: 7em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.biblioteca {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

button {
    border: none;
}

.red {
    color: red;
}

.a-btn {
    color: var(--black);
    background-color: var(--blue);
    transition: 0.4s all ease;
    padding: 0.2em 0.4em;
    border: 2px solid var(--blue);
    color: var(--white);
    border-radius: 0.6em;
}

.a-btn:hover {
    background-color: transparent;
    color: var(--blue);
    transform: scale(1.05);
}

.search-dicas {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30em;
    gap: 0.2em;
    padding: 0.2em 3em;
    border: 1px solid var(--blue);
    border-radius: 0.8em;
    margin: 0 1em;
}

.search-dicas button {
    background-color: transparent;
    padding: 0.4em 0.6em;
    border-radius: 0.7em;
    transition: 0.4s all ease;
}

.search-dicas button:nth-child(3) {
    background-color: var(--green);
    color: var(--white);
}

.search-dicas button:hover {
    background-color: var(--green);
    color: white;
    border-radius: 1em;
}

@media(max-width:730px) {
    .search-dicas{
        min-width: 20em;
    }
}

.search-dicas #search {
    border: none;
    width: 50%;
    font-size: 16px;
    min-width: 90%;
    height: 100%;
}

.search-dicas #search:focus {
    border: none;
    outline: none;
}

.search-dicas #search::placeholder {
    color: var(--grey);
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: inherit !important;
}

.swiper {
    margin-top: 1.5em;
    width: 100vw;
    min-height: 20em;
    overflow: visible;
    margin-left: 1.5em;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    margin-top: 0.7em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 1em;
    margin-left: 1.5em;
}

.controls {
    margin-top: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.controls #curtir {
    background-color: #F5F5F5;
}

.controls #curtir span {
    margin-left: 0.4em;
}

.swiper-slide img {
    max-height: 12em;
}
